html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url('img/fondo-anime-mobile.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.main {
  color: white;
  background-color: rgb(135, 206, 250,0.2);
}