html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("img/anime-7914238_1280.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  opacity: 0.9;
}

.main {
  color: white;
  background-color: rgb(135, 206, 250, 0.2);
}

#title {
  text-align: center;
  font-size: 2.1rem;
  margin-bottom: 0;
}

#description {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#survey-form {
  display: flex;
  flex-direction: column;
}

#survey-form input[type="text"],
input[type="email"],
input[type="number"] {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}


