html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url('img/fondo-anime-mobile.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  opacity: 0.9;
}

.main {
  color: white;
  background-color: rgb(135, 206, 250,0.2);
}

#survey-form {
  display: flex;
  flex-direction: column;
}